cycler==0.12.1
decorator==5.2.1
matplotlib==3.9.2
networkx==3.1
numpy==1.26.0
opencv-python==4.9.0.80
pillow==10.0.1
# python version should be set in your environment, not here
torch==2.0.1
pytorch-fid==0.3.0
scikit-image==0.24.0
scikit-learn==1.4.1.post1
scipy==1.10.1
setuptools==68.2.2
shapely==2.0.6
sympy==1.12
tensorboardx==2.6.2.2
torchvision==0.15.2
tqdm==4.65.0